* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0;
    margin: 0;
}

.first-nav {
    background-color: rgb(10, 10, 60);
    display: flex;
    height: 6vh;
    border-bottom: 1px solid white;
}

.left_first-nav {
    position: relative;
    left: 160px;
}

.left_first-nav ul {
    /* font-size: 15px; */
    color: white;
    display: flex;
    list-style-type: none;
    margin-top: 9px;
}

.left_first-nav ul:hover {
    background-color: rgb(95, 95, 184);
}

.left_first-nav li {
    display: flex;
}

.left_first-nav img {
    width: 24px;
    height: 24px;
}

.right_first-nav button {
    position: relative;
    background-color: rgb(32, 209, 32);
    border: 2px solid rgb(32, 209, 32);
    height: 4vh;
    padding: 0px 12px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    left: 120px;
}

.right_first-nav button:hover {
    text-decoration: underline;
}

.right_first-nav ul li:hover {
    text-decoration: underline;
    color: #fff;
}

.right_first-nav {
    position: relative;
    top: 8px;
    left: 850px;
    display: flex;
}

.right_first-nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.right_first-nav ul li {
    padding: 0px 6px 3px 6px;
    margin-left: 2%;
    border-left: 1px solid whitesmoke;
    height: 30px;
}

.header {
    background-color: white;
    border-top: 4px solid green;
}

.header-in {
    display: flex;
    justify-content: space-between;
    height: 25vh;
    padding: 0px 100px;
    padding-top: 30px;
    
}

.header-heading h1 {
    font-size: 40px;
    font-weight: bolder;
    color: rgb(36, 148, 39);
}

.header-heading span {
    font-size: 23px;
}

.header img {
    height: 100px;

}

#main-nav {
    width: 1100px;
    height: 5vh;
    background-color: rgb(42, 102, 57);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding-top: 20px;
    margin-left: 170px;
    font-size: 17px;
    font-weight: bold;

}

#main-nav li {
    display: inline;
    padding: 0px 10px;
}

.move_img img {
    width: 100%;
    height: 80vh;
}

.move_txt {
    background-color: rgb(57, 60, 56);
    height: 7vh;
    width: 98.7vw;
    margin-top: -5px;
    color: white;
    display: flex;

}
.move_txt button {
    background-color: rgb(20, 132, 20);
    border: 2px solid rgb(20, 132, 20);
    color: white;
    font-size: 15px;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 6px;
    width: 8%;
    height: 5vh;
    border-radius: 8px;
}

.move_txt button:hover {
    background-color: rgb(57, 57, 196);
    border: 2px solid rgb(57, 57, 196);
    text-decoration: underline;
}

.move_txt ul {
    list-style-type: none;
    margin-top: 8px;
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
}

.move_txt ul li {
    margin-left: 8%;
}

.move_txt ul li:hover {
    text-decoration: underline;
}


#section-div {
    width: 100%;
    height: 60vh;
    display: inline-flex;
    flex-direction: row;

}

.section-div-container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    float: center;
    padding-top: 34px;
    margin-left: 150px;
    margin-right: auto;
}

#section-div h3 {
    font-size: 20px;
    padding: 9px 6px;

}

.news-sec {
    width: 820px;
    height: 50vh;
    background-color: #e5f5df;
    margin-right: 13px;
    padding: 3px 15px;
    border-radius: 8px;
}

.news-sec-scroll marquee {
    height: 36vh;
}

.news-sec button {
    background-color: #2b7509;
    float: left;
    height: 28px;
    width: 89px;
    position: relative;
    top: 3%;
    left: 88%;
    border: none;
    color: white;
    border-radius: 4px;
}

.news-sec-scroll a {
    text-decoration: none;
    color: black;

}

.news-sec-scroll li {
    list-style: none;
    margin-bottom: 18px;
}

.news-sec-scroll li img {
    position: relative;
    top: 7px;
    right: 195px;
    margin: 0px 5px 0px 5px;
}

.news-sec img {
    position: relative;
    padding: 4px;
    height: 15px;
    right: 75px;
    top: 4%;
}

.news-sec-scroll li :hover {
    color: red;
    text-decoration: underline;
}

marquee li::before {
    content: "\00BB";
    margin-right: 4px;
    /* height: 3px; */
}

.manage-sec {
    width: 270px;
    height: 53vh;
    padding: 3px 17px;
    background-color: #e5f5df;
    border-radius: 8px;
    /* border: 2px solid blue; */
}

.manage-sec button {
    background-color: #2b7509;
    float: left;
    height: 28px;
    width: 89px;
    position: relative;
    left: 64%;
    border: none;
    color: white;
    border-radius: 4px;
}

.manage-content li {
    list-style: none;
    padding: 11px 15px;
    font-size: 17px;
}

.manage-content li::before {
    content: "\00BB";
    margin-right: 6px;
}

.manage-content li :hover {
    color: red;
    text-decoration: underline;
}

.moveup {
    background-image: url(images/bgwelcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.grp_img {
    padding-top: 10%;
}

.grp_img a {
    text-decoration: none;
    color: white;
}

.grp_img ul li {
    display: inline-block;
    margin-right: 50px;
    margin-left: 45px;
    margin-bottom: 55px;
    list-style-type: none;
    width: 280px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

.grp_img img {
    border: 3px solid white;
    border-radius: 50%;
}

.grp_img img:hover {
    border: 3px solid rgb(228, 146, 53);
}

#form-div {
    background-color: rgb(239, 239, 239);
    height: 60vh;
    width: 100%;
    margin-top: 35px;
    display: inline-flex;
    flex-direction: row;
    padding-top: 44px;
    border-top: 2px #cecece solid;
}

.container {
    display: inline-flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

.contact-sec {
    width: 504px;
    height: 40vh;
    margin-right: 25px;
}

.get-in-touch {
    width: 530px;
    height: 60vh;
}

.container h2 {
    border-bottom: 1px solid green;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #2a7609;
    font-size: 23px;
    font-weight: bold;
    background: none;
}

.form-grp {
    width: 530px;
    font-size: 16px;
}

.form-grp input {
    margin: 6px 0px;
    width: 95%;
    height: 4vh;
}

.form-grp button {
    background-color: #499727;
    position: relative;
    left: 76%;
    height: 40px;
    width: 100px;
    border: none;
    color: white;
}

.form-grp button:hover {
    background-color: rgb(220, 115, 29);
}

.contact-sec-content {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.contact-sec-content img {
    height: 37px;
    padding: 15px 0px;
}

.image {
    margin-right: 9px;
}

.govern {
    background-color: grey;
    border: 2px solid grey;
    /* margin-top: -2px; */
}

.govern_img {
    /* border: 2px solid red; */
    background-color: #fff;
    margin-top: 2%;
    width: 95%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.govern_img ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* margin-top: 4%; */
    margin-left: 4%;
    margin-right: 4%;
}

.govern_img ul img {
    height: 6vh;
    width: 10vw;
    margin-top: 30%;
}

footer {
    background-color: rgb(22, 20, 20);
    color: #e8e5e5;
    height: 40vh;
}

footer ul li:hover {
    color: #474343;
}

footer ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    margin-left: 9%;
}

footer ul li {
    border-right: 2px solid rgb(47, 46, 46);
    height: 2%;
    padding-left: 4%;
    padding-right: 2%;
    margin-top: 2%;
}

.visitor {
    align-content: center;
    /* line-height: 19%; */
}

.visitor p {
    text-align: center;
    margin-top: 4%;
    font-weight: bold;

}

#histats_counter {
    margin-left: 46%;
}

#copyright {
    margin-top: 2%;
    color: #a19b9b;
    font-size: 20px;
}